<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:mail.properties"/>


        <!--    邮件发送-->
        <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
            <property name="host" value="smtp.qq.com"/>
            <property name="username" value="228520681@qq.com"/>
            <property name="password" value="xbpjzgimxpmhbgfj"/>
            <property name="defaultEncoding" value="utf-8"/>
            <property name="javaMailProperties">
                <props>
                    <prop key="mail.smtp.auth">true</prop>
                    <prop key="mail.smtp.timeout">20000</prop>
                    <prop key="mail.smpt.socketFactory.Class">javax.net.ssl.SSLSocketFactory</prop>
                    <prop key="mail.smpt.ssl.enable">true</prop>
                    <prop key="mail.smpt.port">465</prop>
                    <prop key="mail.smpt.socketFactory.port">465</prop>
                    <prop key="mail.smpt.SocketFactory.fallback">false</prop>
                </props>
            </property>
        </bean>
</beans>